.idea
.idea/**/*
.sublime/
.sublime/**/*
.vscode/
.vscode/**/*

node_modules
**/node_modules/*

**/*.log
*.log

storage
storage/**/*
public_html
*public_html*
public_html/**/*
public
*public*
public/**/*
promo/**/*
tmp/**/*

diskusage.devconfig.json
sequelizeData.json

2upload/
logs/
tmp/
storage2/
upload/
stream/
upload2/
locks/

.env
.env.*
