<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta property="og:title" content=" СФЕРА. " />
    <meta property="og:description" content="360 и аэросъёмка." />
    <meta property="og:image" content="https://sfera.com.ru/public/assets/sphere_logo_2.png" />
    <meta property="og:image:secure_url" content="https://sfera.com.ru/public/assets/sphere_logo_2.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="100" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:site_name" content="sfera.com.ru" />
    <meta property="og:url" content="https://sfera.com.ru" />

    <title>ПЛАТФОРМА</title>
    <style>
        body {
            padding: 4% 5%;
        }
        h2 {
            color: #626369;
        }
        a {
            color: #039BE5;
        }
    </style>
</head>
<body>
    <h2>
        Вы используете устаревший браузер. Рекомендуем использовать последнюю версию браузера
        <a href="https://www.mozilla.org/ru/firefox/download/thanks/">Firefox</a>
        или
        <a href="https://www.google.com/intl/ru/chrome/">Chrome</a>
    </h2>
</body>
<html>
